<!doctype html>
<html>
<head>
<link
	href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css"
	rel="stylesheet" />
<link
	href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400'
	rel='stylesheet' type='text/css'>
<link href="css/main.css" rel="stylesheet" />

<!-- Include the AngularJS library -->
<script src="javaScript/shared/angular.min.js"></script>
<!-- why didn't using "js"... folder? -->
</head>
<body ng-app="myApp">
	<div class="header">
		<div class="container">
			<h1>Book End</h1>
		</div>
	</div>

	<div class="main" ng-controller="MainController">
		<div class="container">

			<h1>{{ title }}</h1>
			<h1 ng-controller="SubController">{{ title }}</h1>
			<!-- We can use any where... ng-controller -->
		</div>
		<div ng-repeat="test in products">
			<!-- can I limit? or paging? -->
			<!-- we can repeat x in y -->
			<div class="thumbnail">
				<!-- img src="{{ test.cover }}" -->
				<!-- caution any browser ... error? -->
				<img ng-src="{{ test.cover }}">
				<!-- have no caution any browser-->
				<p class="title">{{ test.name }}</p>
				<!-- we using x.var -->
				<p class="price">{{ test.price | currency }}</p>
				<p class="date">{{ test.pubdate | date }}</p>
				<div class="rating">
					<p class="likes" ng-click="plusOne($index)">{{test.likes}}+</p>
					<!-- Can I use namespace? -->
					<p class="dislikes">{{test.dislikes}}-</p>
				</div>
			</div>
		</div>
	</div>
	<div ng-controller="MainController">
		******************************
		<app-info info="shutterbugg"></app-info>
		<app-info info="gameboard"></app-info>
		<app-info info="move"></app-info>
		<app-info info="shutterbugg"></app-info>
		******************************
	</div>
	<div class="sub" ng-controller="SubController">
		<div class="container">

			<h1>{{ title }}</h1>
			<h2 ng-controller="MainController">{{various}}</h2>
			<img src="img/_55270.jpg" width="110px" />
			<h1>{{strProduct.name}}</h1>
			<!-- we can use structure -->
			<h1>{{strProduct.price | currency}}</h1>
			<h1>{{strProduct.pubdate | date}}</h1>
			<div class="rating">
				<p class="likes">{{strProduct.likes}}+</p>
				<!-- Can I use namespace? -->
			</div>

			<!-- currency $???, date, uppercase can we change unit? anyway we can change format. -->

		</div>
	</div>

	<div class="footer">
		<div class="container">
			<h2>Available for iPhone and Android.</h2>
			<img
				src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png"
				width="120px" /> <img
				src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png"
				width="110px" />
		</div>
	</div>


	<!-- Modules -->
	<script src="javaScript/app.js"></script>

	<!-- Controllers -->
	<script src="javaScript/controllers/MainController.js"></script>
	<script src="javaScript/controllers/SubController.js"></script>

	<!-- Directives -->
	<script src="javaScript/directives/appInfo.js"></script>

</body>
</html>
